*{
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(../../images/LOGOlAKERS.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color: #ddd;
    
}

.contanier1{
    background-color: $background-color;
    width: 450px;
    margin: auto;
    color: #e9a539;
}

.topLogo{
    width: 100px;
}

.paragraph{
    margin: 8px 0px;
    
}

.btnSend{
    color: $background-color;
    border: 1px solid $button-color ;

    &:hover{
        background-color: $background-color;
        color: white;
    }
}

.footer{
    margin-top: 30px;
    margin-bottom: -30px;
    color: #ddd;
}

